

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('sea_background.jpg');
    background-size: cover; /* This will make the image cover the entire background */
    background-position: center; /* This will center the image */
    background-repeat: no-repeat; /* This will prevent the image from repeating */
    background-color: rgba(255, 255, 255, 0.5);
}

.quiz-container {
    width: 600px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-top: 0;
}

.options-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    direction: rtl; /* Set text direction to right-to-left */
}

.options-container label {
    display: inline-block;
    margin-left: 10px; /* Adjust margin for spacing */
    order: 2; /* Change order to place labels after radio buttons */
}

.options-container input[type="radio"] {
    margin-left: 5px; /* Adjust margin for spacing */
    order: 1; /* Change order to place radio buttons before labels */
}
#submit-btn, #next-btn {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

#submit-btn:hover, #next-btn:hover {
    background-color: #0056b3;
}

#feedback-container {
    margin-bottom: 20px;
    padding-top: 10px;
}

#score-container {
    font-weight: bold;
}

/* Remove bullet points from options */
.quiz-container ul {
    list-style-type: none;
    padding-left: 0;
}

.quiz-container ul li {
    margin-bottom: 10px;
}

a{
    padding-top: 10px;
    margin-top: 20px;
    width: 200px;
}

.go-home {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #2cafa3;
    color: #fff;
    border-radius: 5px;
}

.go-home:hover {
    background-color: #0056b3;
}

.arrow-link {
    text-decoration: none; /* Remove default underline */
    display: inline-block; /* Ensure the link takes up only the necessary space */
    color: #555; /* Change text color as needed */
}

.arrow-link span {
    display: inline-block;
    vertical-align: middle; /* Align text vertically with arrow */
    margin-right: 10px; /* Adjust space between text and arrow */
}

.arrow {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 20px solid white; /* Change color as needed */
    display: inline-block;
    vertical-align: middle; /* Align arrow vertically with text */
    animation: animateArrow 1s infinite;
}

@keyframes animateArrow {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(0);
    }
}

img {
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: transparent;
    padding: 10px;
    margin: 20px
}