body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
}

.box {
    width: 350px;
    height: 300px;
    margin-bottom: 5px;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    text-align: center;
}

.box img {
    max-width: 100%;
    border-radius: 5px;
}

.title {
    width: 100%;
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
}

.button-container {
    position: fixed;
    bottom: 2px;
    right: 2px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-container img {
    max-width: 20%;

}
.go-home {
    position: fixed;
    bottom: 10px;
    left: 10px;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #2cafa3;
    color: #fff;
    border-radius: 5px;
}

.go-home:hover {
    background-color: #0056b3;
}


.arrow-link span {
    display: inline-block;
    vertical-align: middle; /* Align text vertically with arrow */
    margin-right: 10px; /* Adjust space between text and arrow */
}

.arrow {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 20px solid white; /* Change color as needed */
    display: inline-block;
    vertical-align: middle; /* Align arrow vertically with text */
    position: relative;
    animation: animateArrow 1s infinite;
}

@keyframes animateArrow {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(0);
    }
}


a {
    text-decoration: none;
    color: inherit; /* Use the color inherited from the parent*/

}

.phet-button {
    padding: 10px 20px;
    margin: 15px;
    font-size: 16px;
    background-color: #5b7ca6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}